{{>layout/header}}

<!--메인-->
<main>
    <div class="sidebar">
        <h2></h2>
        <a href="#">메인</a>
        <a href="#">로그</a>
        <a href="#">관리자</a>
    </div>

    <div class="main_screen">
        <div class="first_line">
            <div class="map">
                <p>지도</p>
            </div>

            <div class="order">
                <p>주문</p>
            </div>
        </div>

        <div class="second_line">
            <div class="stock">
                <p>재고량</p>
            </div>

            <div class="rog">
                <p>작업 내역</p>
            </div>
        </div>
    </div>
</main>

{{>layout/footer}}