<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WASD_WMS</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<!--헤더-->
<header class="header">
</header>

<!--메인-->
<main>
    <div class="login">
        <input class="username_input" placeholder="   Username" type="text">
        <input class="username_input" placeholder="   Password" type="text">
        <button>로그인</button>
    </div>
</main>

<!--푸터-->
<footer>

</footer>

<script src="js/script.js"></script>
<script src="js/login.js"></script>
</body>
</html>