<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WASD_WMS</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
<!--헤더-->
<header class="header">
</header>

<!--메인-->
<main>
    <div class="signup-container">
        <h2>회원가입</h2>
        <form id="signupForm">
            <input id="userId" type="text" placeholder="아이디" required>
            <input id="userPw" type="password" placeholder="비밀번호" required>
            <input id="userName" type="text" placeholder="이름" required>
            <button type="submit" class="signup_btn">회원가입</button>
            <button type="button" id="backToLogin" class="back-btn">로그인으로 돌아가기</button>
        </form>
    </div>
</main>

<!--푸터-->
<footer>

</footer>

<script src="js/script.js"></script>
<script src="js/signup.js"></script>
</body>
</html>